html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Varela Round', monospace;
  color: #222;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
h1 {
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}
h2 {
  font-size: 2.4rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}
h3 {
  font-size: 2.2rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}
h4 {
  font-size: 2.1rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}
h5 {
  font-size: 2.0rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}
h6 {
  font-size: 1.8rem;
  line-height: 1.6;
  letter-spacing: 0;
}
p, span {
  font-size: 1.4rem;
  margin-top: 0;
}
a {
  text-decoration: none;
}
label {
  display: inline-block;
  width:300px;
  height:300px;
  background-position: center;
  background-size: cover;
}

/* Blocking
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
.row {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.full {
  width: 100%;
  height: 100%;
  overflow: visible;
}
.align {
  display:inline;
  margin: 0;
  padding: 0;
}
.align.center {
  margin: 0 auto;
  text-align: center;
}
.align.justify {
  margin: 0 auto;
  text-align: justify;
}
.align.left {
  position: relative;
  float: left;
  text-align: left;
}
.align.right {
  position: relative;
  float: right;
  text-align: right;
}
.align.bottom {
  position: absolute;
  left:0;
  bottom: 0;
}
.fix.bottom {
  position: fixed;
  left:0;
  bottom: 0;
}

/* Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.title {
  margin-bottom: 0;
  padding: 10px;
}
.display-img {
  max-width:440px;
  margin:0 auto;
  background: #FFFF00;
}
.display-intro {
  max-width:400px;
  margin:0 auto;
}
.display-canvas {
  display:block;
  width: 100px;
  height: 100px;
}
.no-break {
  white-space: nowrap;
}
a.answer {
  display: block;
  position: relative;
  float: left;
  width: 25%;
  max-width: 300px;
  margin: 0;
  padding: 0;
}
.frame {
  display: block;
  width: 100%;
  padding: 5px;
}
.frame.none {
  padding: 0;
  margin: 0;
}
.frame.light {
  padding: 10px;
}
.frame.medium {
  padding: 20px;
}
.frame.heavy {
  padding: 40px;
}
a.button {
  margin: 0;
  padding:3px 20px;
}
.button.blue {
  background: #0000FF;
  color: #FFFFFF;
}
.button.disabled{
  opacity:0.5;
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-show {
  display:block;
  opacity:1;
}
.u-hide, .desktop-hide {
  display:none;
  opacity:0;
  visibility:hidden;
}
.fade-title {
  -webkit-animation-name: fade-title;
  animation-name: fade-title;
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fade-image {
  -webkit-animation-name: fade-image;
  animation-name: fade-image;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.delayFade-a {
  -webkit-animation-delay:300ms;
  animation-delay:300ms;
}
.delayFade-b {
  -webkit-animation-delay:400ms;
  animation-delay:400ms;
}
.delayFade-c {
  -webkit-animation-delay:500ms;
  animation-delay:500ms;
}
.delayFade-d {
  -webkit-animation-delay:600ms;
  animation-delay:600ms;
}
@-webkit-keyframes fade-image {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  80% {
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-image {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
  }
  80% {
    -webkit-transform: none;
    transform: none;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-title {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fade-title {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 10%, 0);
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than phablet */
@media (min-width: 560px) {
  .title {
    padding:30px;
    margin-bottom:10px;
  }
  .display-intro {
    max-width: 500px;
  }
}
/* Larger than tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 5.0rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3.0rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  p, span {
    font-size: 2.4rem;
  }
  .fade-title {
    -webkit-animation-duration: 1600ms;
    animation-duration: 1600ms;
  }
  @-webkit-keyframes fade-title {
    from, 0% {
      opacity:0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    20% {
      opacity:1;
    }
    60% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fade-title {
    from, 0% {
      opacity:0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    20% {
      opacity:1;
    }
    60% {
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
    to {
      -webkit-transform: none;
      transform: none;
    }
  }
  .delayFade-a {
    -webkit-animation-delay:1100ms;
    animation-delay:1100ms;
  }
  .delayFade-b {
    -webkit-animation-delay:1200ms;
    animation-delay:1200ms;
  }
  .delayFade-c {
    -webkit-animation-delay:1300ms;
    animation-delay:1300ms;
  }
  .delayFade-d {
    -webkit-animation-delay:1400ms;
    animation-delay:1400ms;
  }
  .display-intro {
    max-width: 750px;
  }
}


/* Printing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.page{
  display: block;
  width: 8.5in;
  min-height: 11in;
  padding: 0;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.1);
}
.subpage{
  padding: 0;
  height: 11in;
}
@page{
  size: Letter;
  margin: 0;
  padding: 0;
}
@media print{
  .page{
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 8.5in;
    min-height: 11in;
    box-shadow: none;
    background: #FFFFFF;
    page-break-after: always;
  }
  .subpage{
    margin: 0;
    padding: 0;
    width: 8.5in;
    height: 11in;
  }
  .display-quiz,
  .display-intro {
    display:none;
  }
}
